.first-div{
    width: 500px;
    height: 500px;
    background-color: rgb(255, 230, 0);
    border-width: 10px;
    border-color: rgb(255, 0, 0);
    border-style: solid;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;

    text-align: center;
}

.normal-para{
    color: green;
}

#fav-para{
    color: purple;
}